.flex-wrapper {
  display: flex;
  flex-direction: column; }

.hide {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: black;
  padding: 1%;
  border: 1px blue solid; }
  body .container {
    background-color: #1a1a1a;
    padding: 1%;
    border: 1px blue solid; }
    body .container header {
      background-color: #333333;
      padding: 1%;
      border: 1px blue solid;
      margin: 1% 0%;
      display: flex;
      align-items: center; }
      body .container header .name {
        flex: 1;
        background-color: #4d4d4d;
        padding: 1%;
        border: 1px blue solid; }
        body .container header .name h1 {
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid; }
      body .container header .mobile-nav-button {
        display: none;
        margin-left: auto;
        flex: 1;
        background-color: #4d4d4d;
        justify-content: flex-end;
        padding: 1%;
        border: 1px blue solid; }
        @media only screen and (max-width: 630px) {
          body .container header .mobile-nav-button {
            display: flex;
            position: relative;
            z-index: 10; } }
        body .container header .mobile-nav-button .mobile-nav-button-icon {
          font-size: 2rem;
          background-color: #666666;
          padding: 1%;
          padding: 5%;
          border: 1px blue solid;
          display: flex;
          align-items: center;
          cursor: pointer; }
      body .container header .mobile-nav {
        background-color: #333333;
        position: absolute;
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        padding: 1%;
        padding-top: 150px;
        border: 1px blue solid; }
        body .container header .mobile-nav a {
          padding: 1%;
          background-color: #4d4d4d;
          border: 1px blue solid;
          font-size: 2rem;
          color: white;
          text-decoration: none;
          width: 98%; }
          body .container header .mobile-nav a:hover {
            background-color: #666666; }
      body .container header nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        background-color: #4d4d4d;
        padding: 1%;
        border: 1px blue solid; }
        @media only screen and (max-width: 630px) {
          body .container header nav {
            display: none; } }
        body .container header nav a {
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid; }
    body .container main {
      margin: 1% 0%;
      background-color: #333333;
      padding: 1%;
      border: 1px blue solid;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .container main .card-wrapper {
        background-color: #4d4d4d;
        padding: 1%;
        border: 1px blue solid;
        width: 50%;
        margin: 1% 0%;
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 840px) {
          body .container main .card-wrapper {
            width: 70%; } }
        @media only screen and (max-width: 650px) {
          body .container main .card-wrapper {
            width: 100%; } }
        body .container main .card-wrapper .card {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin: 0% 2%;
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid;
          max-height: 100px;
          min-height: 100px;
          max-width: 100px;
          min-width: 100px; }
          @media only screen and (max-width: 420px) {
            body .container main .card-wrapper .card {
              max-height: 80px;
              min-height: 80px;
              max-width: 80px;
              min-width: 80px; } }
          @media only screen and (max-width: 340px) {
            body .container main .card-wrapper .card {
              max-height: 70px;
              min-height: 70px;
              max-width: 70px;
              min-width: 70px;
              padding: 2%; }
              body .container main .card-wrapper .card p {
                margin: 0%; } }
          body .container main .card-wrapper .card i {
            font-size: 2rem; }
          body .container main .card-wrapper .card p {
            margin: 0%;
            margin-top: 1%; }
        body .container main .card-wrapper .card-title-wrapper {
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid; }
          body .container main .card-wrapper .card-title-wrapper h1 {
            background-color: gray;
            padding: 0%;
            border: 1px blue solid;
            margin: 0%; }
          body .container main .card-wrapper .card-title-wrapper p {
            width: 20%;
            background-color: gray;
            padding: 1%;
            border: 1px blue solid;
            margin: 0%; }
        body .container main .card-wrapper .card-content-wrapper {
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid;
          max-height: 170px;
          display: flex; }
          body .container main .card-wrapper .card-content-wrapper .img-wrapper {
            background-color: gray;
            padding: 1%;
            border: 1px blue solid;
            width: 170px;
            max-height: 120px;
            min-height: 120px;
            word-wrap: none; }
            body .container main .card-wrapper .card-content-wrapper .img-wrapper img {
              background-color: #999999;
              padding: 1%;
              border: 1px blue solid;
              min-width: 98%;
              max-width: 99%;
              min-height: 98%;
              height: 99%; }
          body .container main .card-wrapper .card-content-wrapper .txt-wrapper {
            flex: 2;
            background-color: gray;
            padding: 1%;
            border: 1px blue solid;
            max-height: 120px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column; }
            body .container main .card-wrapper .card-content-wrapper .txt-wrapper p {
              background-color: #999999;
              padding: 1%;
              border: 1px blue solid;
              word-break: none;
              max-height: 100px;
              overflow: hidden;
              margin: 1%; }
        body .container main .card-wrapper .card-button-wrapper {
          background-color: #666666;
          padding: 1%;
          display: flex;
          border: 1px blue solid; }
          body .container main .card-wrapper .card-button-wrapper i {
            font-size: 1.5rem;
            border: 1px blue solid; }
          body .container main .card-wrapper .card-button-wrapper .left {
            background-color: gray;
            padding: 1%;
            display: flex;
            flex: 1;
            border: 1px blue solid; }
            body .container main .card-wrapper .card-button-wrapper .left button {
              background-color: #999999;
              padding: 1%;
              border: 1px blue solid; }
              body .container main .card-wrapper .card-button-wrapper .left button i {
                border: 1px blue solid; }
          body .container main .card-wrapper .card-button-wrapper .right {
            background-color: gray;
            padding: 1%;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            border: 1px blue solid; }
            body .container main .card-wrapper .card-button-wrapper .right button {
              background-color: #999999;
              padding: 1%;
              border: 1px blue solid; }
              body .container main .card-wrapper .card-button-wrapper .right button i {
                border: 1px blue solid; }
      body .container main #card-row {
        display: flex;
        flex-direction: row; }
      body .container main #card-column {
        display: flex;
        flex-direction: column; }
    body .container footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1% 0%;
      margin-top: auto;
      background-color: #333333;
      padding: 1%;
      border: 1px blue solid; }
      body .container footer .txt-wrapper {
        flex: 1;
        background-color: #4d4d4d;
        padding: 1%;
        border: 1px blue solid; }
        body .container footer .txt-wrapper p {
          background-color: #666666;
          padding: 1%;
          border: 1px blue solid; }
      body .container footer .links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        background-color: #4d4d4d;
        padding: 1%;
        border: 1px blue solid; }
        body .container footer .links i {
          background-color: #006666;
          font-size: 2rem;
          margin: 1%;
          border: 1px blue solid; }
