// Variables
$border-color:blue;
$padding-value:1%;
.flex-wrapper{
    display: flex;
    flex-direction: column;
}
.hide{
    display:none;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: rgb(0%,0%,0%);
    padding:$padding-value;
    border: 1px $border-color solid;
    .container{
        background-color: rgb(10%,10%,10%);
        padding:$padding-value;
        border: 1px $border-color solid;
        header{
            background-color: rgb(20%,20%,20%);
            padding:$padding-value;
            border: 1px $border-color solid;
            margin: 1% 0%;
            display: flex;
            align-items: center;
            .name{
                flex: 1;
                background-color: rgb(30%,30%,30%);
                padding:$padding-value;
                border: 1px $border-color solid;
                h1{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    border: 1px $border-color solid;
                }
            }
            .mobile-nav-button{
                display: none;
                margin-left: auto;
                flex: 1;
                background-color: rgb(30%,30%,30%);
                justify-content: flex-end;
                padding:$padding-value;
                border: 1px $border-color solid;
                @media only screen and (max-width:630px){
                    display: flex;
                    position: relative;
                    z-index: 10;
                }
                .mobile-nav-button-icon{
                    font-size: 2rem;
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    padding: 5%;
                    border: 1px $border-color solid;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                }
            }
            .mobile-nav{
                background-color: rgb(20%,20%,20%);
                position: absolute;
                height: 100vh;
                width: 50%;
                top: 0;
                right: 0;
                z-index: 5;
                flex-direction: column;
                align-items: center;
                padding:$padding-value;
                padding-top: 150px;
                border: 1px $border-color solid;
                @media only screen and (max-width:630px){
                }
                a{
                    padding:$padding-value;
                    background-color: rgb(30%,30%,30%);
                    border: 1px $border-color solid;
                    font-size: 2rem;
                    color: white;
                    text-decoration: none;
                    width: 98%;
                    &:hover{
                        background-color: rgb(40%,40%,40%);
                    }
                }
            }
            nav{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                background-color: rgb(30%,30%,30%);
                padding:$padding-value;
                border: 1px $border-color solid;
                @media only screen and (max-width:630px){
                    display: none;
                }
                a{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    border: 1px $border-color solid;
                }
            }
        }
        main{
            margin: 1% 0%;
            background-color: rgb(20%,20%,20%);
            padding:$padding-value;
            border: 1px $border-color solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-wrapper{
                background-color: rgb(30%,30%,30%);
                padding:$padding-value;
                border: 1px $border-color solid;
                width: 50%;
                margin: 1% 0%;
                display: flex;
                justify-content: center;
                @media only screen and (max-width:840px){
                    width: 70%;
                }
                @media only screen and (max-width:650px){
                    width: 100%;
                }
                .card{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    margin: 0% 2%;
                    background-color: rgb(40%,40%,40%);
                    padding:1%;
                    border: 1px $border-color solid;
                    max-height: 100px;
                    min-height: 100px;
                    max-width: 100px;
                    min-width: 100px;
                    @media only screen and (max-width:420px){
                        max-height: 80px;
                        min-height: 80px;
                        max-width: 80px;
                        min-width: 80px;
                    }
                    @media only screen and (max-width:340px){
                        max-height: 70px;
                        min-height: 70px;
                        max-width: 70px;
                        min-width: 70px;
                        padding: 2%;
                        p{
                            margin: 0%;
                        }
                    }
                    i{
                        font-size: 2rem;
                    }
                    p{
                        margin: 0%;
                        margin-top: 1%;
                    }
                }
                .card-title-wrapper{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    border: 1px $border-color solid;
                    h1{
                        background-color: rgb(50%,50%,50%);
                        padding: 0%;
                        border: 1px $border-color solid;
                        margin: 0%;
                    }
                    p{
                        width: 20%;
                        background-color: rgb(50%,50%,50%);
                        padding:$padding-value;
                        border: 1px $border-color solid;
                        margin: 0%;
                    }
                }
                .card-content-wrapper{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    border: 1px $border-color solid;
                    max-height: 170px;
                    display: flex;
                    .img-wrapper{
                        background-color: rgb(50%,50%,50%);
                        padding:$padding-value;
                        border: 1px $border-color solid;
                        width: 170px;
                        max-height: 120px;
                        min-height: 120px;
                        word-wrap: none;
                        img{
                            background-color: rgb(60%,60%,60%);
                            padding:$padding-value;
                            border: 1px $border-color solid;
                            // min-width: 98%;
                            min-width: 98%;
                            max-width: 99%;
                            min-height: 98%;
                            height: 99%;
                        }
                    }
                    .txt-wrapper{
                        flex: 2;
                        background-color: rgb(50%,50%,50%);
                        padding:$padding-value;
                        border: 1px $border-color solid;
                        max-height: 120px;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        p{
                            background-color: rgb(60%,60%,60%);
                            padding:$padding-value;
                            border: 1px $border-color solid;
                            word-break: none;
                            max-height: 100px;
                            overflow: hidden;
                            margin: 1%;
                        }
                    }
                }
                .card-button-wrapper{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    display: flex;
                    border: 1px $border-color solid;
                    i{
                        font-size: 1.5rem;
                        border: 1px $border-color solid;
                    }
                    .left{
                        background-color: rgb(50%,50%,50%);
                        padding:$padding-value;
                        display: flex;
                        flex: 1;
                        border: 1px $border-color solid;
                        button{
                            background-color: rgb(60%,60%,60%);
                            padding:$padding-value;
                            border: 1px $border-color solid;
                            i{
                                border: 1px $border-color solid;
                                // padding:$padding-value;
                            }
                        }
                    }
                    .right{
                        background-color: rgb(50%,50%,50%);
                        padding:$padding-value;
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        border: 1px $border-color solid;
                        button{
                            background-color: rgb(60%,60%,60%);
                            padding:$padding-value;
                            border: 1px $border-color solid;
                            i{
                                border: 1px $border-color solid;
                            }
                        }
                    }
                }
            }
            #card-row{
                display: flex;
                flex-direction: row;
            }
            #card-column{
                display: flex;
                flex-direction: column;
            }
        }
        footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1% 0%;
            margin-top: auto;
            background-color: rgb(20%,20%,20%);
            padding:$padding-value;
            border: 1px $border-color solid;
            .txt-wrapper{
                flex: 1;
                background-color: rgb(30%,30%,30%);
                padding:$padding-value;
                border: 1px $border-color solid;
                p{
                    background-color: rgb(40%,40%,40%);
                    padding:$padding-value;
                    border: 1px $border-color solid;
                }
            }
            .links{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                background-color: rgb(30%,30%,30%);
                padding:$padding-value;
                border: 1px $border-color solid;
                i{
                    background-color: rgb(0%,40%,40%);
                    // padding:$padding-value;
                    font-size: 2rem;
                    margin: 1%;
                    border: 1px $border-color solid;
                }
            }
        }
    }
}